body {
    --primary: rgb(14, 99, 156);
    --on-primary: #fff;
}

body.dark {
    --primary: rgb(0, 122, 204);
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &.dark {
        background-color: #1e1e1e;
    }
}

.dark {
    #topTabBar {
        background-color: #252526;
        box-shadow: #000000 0 6px 6px -6px;

        &>* {
            background-color: #2d2d2d;
            color: #ffffff80;

            &[active] {
                background-color: #1e1e1e;
                color: #ffffff;
            }
        }
    }

    #leftTabBar {
        background-color: #333333;
    }

    #leftNav {
        background-color: #252526;
        color: #cccccc;
    }
}

#mapEditor {
    height: 100vh;
    display: flex;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#topTabBar {
    display: flex;
    flex: 35px 0 0;
    background-color: #f3f3f3;

    box-shadow: #dddddd 0 6px 6px -6px;
    z-index: 2;

    &>* {
        display: flex;
        align-items: center;
        padding: 0 10px;

        background-color: #ececec;
        cursor: pointer;
        user-select: none;

        &[active] {
            background-color: #fff;
        }
    }

    .close {
        padding-left: 8px;
    }
}

#mainTabWindow {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

#mainTabWindow>*:not([active]) {
    display: none !important;
}

#leftNav {
    flex: 247px 0 0;
    border-right: 1px solid black;
    display: flex;
    overflow-y: scroll;
    /* overflow-x: hidden; */
}

#out {
    border: non;
    resize: none;
}

#canvasContainer {
    height: 100%;
    width: 100%;
}

#canvasContainer>canvas {
    position: absolute;
}

#imageTab {
    width: 100%;
}

#images {
    display: flex;
    flex-wrap: wrap;
}

.customImage {
    border: 1px solid black;
    margin: 4px;
    padding: 4px;
    background-color: #80808080;
    color: white;

    display: flex;
    flex-direction: column;

    .x64 {
        width: 70px;
    }

    p {
        margin: 0;
    }

    img {
        max-width: 100%;
    }
}

#hoverInfo {
    position: absolute;
    color: white;
    z-index: 1;
    user-select: none;
}

#generalTab {
    margin: 0 8px;

    button {
        margin: 4px 0;
    }
}


#leftTabBar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;

    background-color: #2c2c2c;

    &>* {
        margin: 4px 8px;
    }
}

@import "button.scss";
@import "mainMenu.scss";
@import "colonialSpace.scss";
@import "syntax.scss";