#scriptTab {
    display: flex;
    flex-direction: column;
    width: 100%;

    >div {
        user-select: none;
        cursor: pointer;
        margin-top: 2px;
        padding-left: 5px;

        &:hover {
            background-color: #eee;
        }
    }
}

.crplCode {
    width: 100%;
    padding: 8px;
    font-family: Consolas, "Courier New", monospace;
    overflow: auto;

    .highlighted {
        background-color: #80808080;
    }

    >div {
        white-space: pre-wrap;
    }
}

.commentColor {
    color: #008000;
}

.stringColor {
    color: #a31515;
}

.numberColor {
    color: #098658;
}

.keywordColor {
    color: #af00db;
}

.varColor {
    color: #001080;
}

.builtinColor {
    color: #795e26;
}

.functionColor {
    color: #800000;
}

.constColor {
    color: #0070c1;
}


.dark {
    .crplCode {
        background-color: #1e1e1e;
        color: #d4d4d4;
    }

    .commentColor {
        color: #6a9955;
    }

    .stringColor {
        color: #ce9178;
    }

    .numberColor {
        color: #b5cea8;
    }

    .keywordColor {
        color: #c586c0;
    }

    .varColor {
        color: #9cdcfe;
    }

    .builtinColor {
        color: #dcdcaa;
    }

    .functionColor {
        color: #d7ba7d;
    }

    .constColor {
        color: #4fc1ff;
    }

    #scriptTab>div:hover {
        background-color: #2a2d2e;
    }
}